@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-blue: #0594fa;
  --color-dark-blue: #3454da;
  --color-yellow: #fcc82c;
  --color-light-black: #242424;
  --color-black: #202122;
  --color-white: #fff;
  --color-gray: #d9d9d9;
  --color-gray-bg: #f4f5fb;
  --color-gray-border: #e9e9e9;
  --gradient-direction2: 112deg;
  --gradient-blue1: #0c356a;
  --gradient-blue2: #2d6dbf;
  --gradiente-azul: linear-gradient(var(--gradient-direction2), var(--gradient-blue1), var(--gradient-blue2));
  --gradient-dark-blue1: #041b2f;
  --gradient-dark-blue2: #003360;
  --dark-blue-gradiente: linear-gradient(180deg, #041b2f 0%, #003360 100%);
}

* {
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

input:focus {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

textarea {
  outline: 0;
  resize: none;
}

button {
  cursor: pointer;
}

@media (max-width: 768px) {
  .only-desktop {
    display: none !important;
  }
}
@media (min-width: 769px) {
  .only-phone {
    display: none !important;
  }
}
.wrapper {
  max-width: 1390px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.mt-7 {
  margin-top: 7px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-9 {
  margin-top: 9px;
}

.mt-16 {
  margin-top: 16px;
}

h1 {
  font-family: "Inter Tight", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h2 {
  font-family: "Inter Tight", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
}

.text-xl {
  font-family: "Inter Tight", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
}

.text-l--bold {
  font-family: "Inter Tight", sans-serif;
  color: #202122;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 21.6px */
}

.text-l {
  font-family: "Inter Tight", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.text-m--semibold {
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 20.8px */
}

.text-m {
  font-family: "Inter Tight", sans-serif;
  color: #202122;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 25px;
    font-weight: 600;
    line-height: 120%; /* 30px */
    letter-spacing: 0 !important;
  }
  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 33.6px */
  }
}
.underline {
  text-decoration: underline;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #d9d9d9;
}

.color-blue {
  color: #0594fa;
}

.align-center {
  text-align: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.primary-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  width: 100%;
  padding: var(--Spacing-4, 16px) var(--Spacing-8, 32px);
  gap: var(--spacing-nano, 8px);
  border-radius: 6px;
  background: var(--color-yellow, #fcc82c);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in;
  color: #27272a;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  letter-spacing: 0.16px;
}
.primary-button:hover {
  background: color-mix(in srgb, var(--color-yellow), #000 50%);
  color: #fff;
  transition: all 0.25s ease-in;
}

.primary-button--blue {
  background: #058beb;
  color: #f7f7ff;
}
.primary-button--blue:hover {
  background: color-mix(in srgb, #058beb, #000 50%);
  color: #fff;
}

.primary-button--white {
  background: #fff;
  color: #09090b;
  border: 1px solid var(--Border---border, #e4e4e7);
  background: var(--Background---secondary, #fff);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.primary-button--white:hover {
  opacity: 0.8;
  background: #fff;
  color: #09090b;
}

.b-h-46 {
  min-height: 46px;
}

.b-h-56 {
  min-height: 56px;
}

.b-h-66 {
  min-height: 66px;
}

.b-w-340 {
  max-width: 340px;
  width: 100%;
}

.b-w-417 {
  max-width: 417px;
}

.primary-button--with-unset {
  padding-left: 22px;
  padding-right: 22px;
  width: unset;
}

.align-button {
  align-items: center !important;
  padding-top: 40px;
}

.table {
  max-width: 915px;
  border-radius: 8px;
  display: none;
}
.table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 8px;
}
.table th {
  text-align: left;
  padding: 8px;
  padding: 0;
}
.table td {
  border-bottom: 1px solid rgba(61, 61, 61, 0.5);
  text-align: left;
}
.table .td-images {
  display: flex;
  align-items: center;
  gap: 6px;
}
.table .td-images img {
  max-height: 24px;
  max-width: 135px;
}
.table th:last-child,
.table td:last-child {
  border-right: 0;
}
.table tr:last-child td {
  border-bottom: 0;
}
.table td {
  font-family: "Inter Tight", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #202122;
}
.table td .icon {
  min-height: 65.5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table td .icon svg {
  width: 25px;
  height: 25px;
}
.table td:first-child {
  padding-left: 15px;
}
.table th {
  color: var(--grey-70, #595959);
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: 24px; /* 150% */
  text-align: center;
}
.table th .icon {
  min-height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table th .table-top-title {
  min-height: 107px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9px;
  width: 182px;
  margin: auto;
  color: #202122;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
}
.table th:first-child {
  width: 100%;
}
.table th:nth-child(2),
.table td:nth-child(2) {
  background-color: #041b2f;
  min-width: 210px;
  position: relative;
}
.table th:nth-child(2) {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.table tr:last-child td:nth-child(2) {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.table-active {
  display: block;
}

.marketing-agency-table td:first-child {
  padding-left: 0px;
}
.marketing-agency-table th .table-top-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.marketing-agency-table th:first-child {
  width: 341px;
}
.marketing-agency-table tr:first-child {
  height: 80px;
}
.marketing-agency-table tr {
  height: 64px;
}
.marketing-agency-table tr td:nth-child(2) {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.marketing-agency-table tr td:nth-child(3) {
  color: #202122;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}

@media (max-width: 678px) {
  .table td:first-child {
    min-width: 200px;
  }
  .table th .table-top-title {
    min-height: 65px;
    width: 70px;
  }
  .table {
    padding-bottom: 21px;
    border-bottom: 0;
  }
  .table::-webkit-scrollbar {
    height: 8px;
    border-radius: 100px;
  }
  /* Track */
  .table::-webkit-scrollbar-track {
    background: var(--grey-10, #f3f4f6);
    border: 0;
    border-radius: 100px;
  }
  /* Handle */
  .table::-webkit-scrollbar-thumb {
    background: var(--primary-yellow, #f5c700);
    border-radius: 100px;
    border: 0;
  }
  /* Handle on hover */
  .table::-webkit-scrollbar-thumb:hover {
    background: var(--primary-yellow, #f5c700);
    border: 0;
    border-radius: 100px;
  }
}
.table .pager {
  display: none;
}

@media screen and (max-width: 1024px) {
  .table th .table-top-title {
    width: 120px;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    min-width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .table-w-slider th:nth-child(3),
  .table-w-slider th:nth-child(4),
  .table-w-slider th:nth-child(5) {
    display: none;
  }
  .table-w-slider td:nth-child(3),
  .table-w-slider td:nth-child(4),
  .table-w-slider td:nth-child(5) {
    display: none;
  }
  .table-w-slider .active-in-slider {
    display: block !important;
    min-width: 160px;
  }
  .table-w-slider2 th:nth-child(3),
  .table-w-slider2 th:nth-child(4),
  .table-w-slider2 th:nth-child(5) {
    display: none;
  }
  .table-w-slider2 td:nth-child(3),
  .table-w-slider2 td:nth-child(4),
  .table-w-slider2 td:nth-child(5) {
    display: none;
  }
  .table-w-slider2 .active-in-slider {
    display: block !important;
    min-width: 160px;
  }
  .table th .table-top-title {
    width: 105px;
  }
  .table th:nth-child(2),
  .table td:nth-child(2) {
    min-width: 160px;
  }
  .table th .icon {
    min-height: unset;
    max-width: 90px;
  }
  .table th .table-top-title span {
    font-size: 12px;
    line-height: 120%;
  }
  .table td {
    font-size: 12px;
  }
  .table td:first-child {
    min-width: unset;
  }
  .table th .table-top-title {
    min-height: 76px;
    gap: 5px;
  }
  .table td .icon {
    min-height: 54px;
  }
  .table .pager {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 40px;
    gap: 8px;
    margin-top: 29px;
  }
  .table .pager a {
    margin-left: 6px;
    margin-right: 6px;
  }
  .table .pager .arrow svg {
    width: 20px;
    height: 20px;
  }
  .table .pager .dot {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid #202122;
    background-color: #041b2f;
  }
  .table .pager .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  .table .pager .active-dot {
    background-color: #005eaf;
  }
  .marketing-agency-table tr td:nth-child(2),
  .marketing-agency-table tr td:nth-child(3) {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .table .td-images img {
    max-height: 16px;
    max-width: 60px;
  }
}
@media screen and (max-width: 500px) {
  .table th:nth-child(2),
  .table td:nth-child(2),
  .table .active-in-slider {
    min-width: 105px;
  }
  .table td:first-child {
    padding-right: 10px;
  }
}
@media screen and (max-width: 425px) {
  .table td .icon svg {
    width: 12px;
    height: 12px;
  }
  .table th .table-top-title {
    width: 100%;
    max-width: 100%;
    min-height: 80px;
  }
  .table th:nth-child(2),
  .table td:nth-child(2),
  .table .active-in-slider {
    min-width: 83px;
  }
  .table td {
    font-size: 11px;
  }
  .table td .icon {
    min-height: 61px;
  }
}
@media screen and (max-width: 375px) {
  .table td:first-child {
    max-width: 100px;
  }
  .table .td-images {
    flex-wrap: wrap;
  }
}
.navbar {
  padding: 10px 0px;
  background: #091a3f;
}
.navbar .logo img {
  max-width: 146px;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .navbar .primary-button {
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (max-width: 650px) {
  .navbar .primary-button {
    font-size: 14px;
    min-height: 40px;
    max-width: 250px;
    width: 100%;
    border-radius: 4px;
  }
  .navbar .primary-button--with-unset {
    padding-left: 25px;
    padding-right: 25px;
    width: unset;
  }
  .nav-buttons {
    flex-direction: column;
    gap: 5px;
  }
}
@media screen and (max-width: 440px) {
  .navbar {
    padding: 11px 0px;
  }
  .navbar .logo img {
    max-width: 90px;
  }
}
.hero {
  min-height: 680px;
  padding: 92px 0px;
  background-color: #b7dfff;
  position: relative;
  overflow: hidden;
}
.hero .content {
  padding-left: 93px;
}
.hero .content .mb-10 {
  margin-bottom: -20px;
}

.hero .padding-0 {
  padding-left: 0;
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.hero-left {
  max-width: calc(50% + 40px);
}
.hero-left h1 {
  color: #091a3f;
  display: inline-block;
  max-width: 700px;
  padding-top: 10px;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 82px; /* 113.889% */
  letter-spacing: -1.44px;
}
.hero-left span:first-child {
  display: inline-flex;
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-items: center;
  vertical-align: bottom;
}
.hero-left span:first-child img {
  flex-shrink: 0;
}
.hero-left .google-ads-span {
  font-weight: 400;
}
.hero-left .google-ads-span img {
  max-width: 53px;
}
.hero-left .meta-span {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
}
.hero-left .meta-span img {
  max-width: 70px;
}
.hero-left .subtitle {
  color: #27272a;
  font-family: "Inter Tight", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-top: 10px;
  margin-bottom: 38px;
}

.hero-left-v2 {
  max-width: calc(50% - 20px);
  position: relative;
  z-index: 2;
}

.btnplace {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
}
.btnplace p {
  color: #71717a;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
}
.buttons p {
  text-align: center;
}
.buttons .primary-button {
  white-space: nowrap;
}

.hero-right {
  max-width: calc(50% - 156px);
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.hero-right picture img {
  max-width: 450px;
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .hero .content {
    padding-left: 0;
  }
  .hero-left h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .hero-left span img {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 1024px) {
  .hero-left h1 br {
    display: none;
  }
  .hero .content .mb-10 {
    margin-bottom: -10px;
  }
  .hero {
    min-height: unset;
  }
  .hero-left h1 {
    font-size: 33.387px;
    line-height: 43px;
  }
  .hero-left h1 span {
    font-size: 33px;
  }
  .hero-left span img {
    max-width: 100px !important;
  }
  .hero-left .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.09px;
  }
  .hero-left span:first-child img {
    max-width: 130px;
  }
  .hero-left span img {
    max-width: 155px;
  }
  .hero-left .primary-button {
    font-size: 19px;
    border-radius: 7px;
  }
  .hero-right {
    top: 0px;
    right: 0px;
    bottom: 0px;
    transform: unset;
  }
  .hero-right picture {
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero-right picture img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .btnplace p {
    font-size: 16px;
  }
}
@media (max-width: 992px) {
  .hero-right-v2 {
    max-width: 50% !important;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 0px;
  }
  .hero .primary-button {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 768px) and (max-width: 992px) {
  .hero-right-v2 {
    max-width: 500px !important;
    width: 100% !important;
  }
  .hero-right-v2 img {
    width: calc(100% + 90px) !important;
    margin-left: calc(50% - 10vw);
    max-width: 600px !important;
    transform: translateX(-50%);
  }
}
@media screen and (max-width: 768px) {
  .hero-left h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .content {
    flex-direction: column;
  }
  .content .btnplace {
    align-items: center;
    gap: 12px;
  }
  .hero-left {
    order: 1;
    max-width: 100%;
    margin-left: unset;
    margin-bottom: 30px;
  }
  .hero-left .subtitle {
    margin-bottom: 0px;
  }
  .btnplace {
    order: 3;
  }
  .hero-right {
    position: relative;
    order: 2;
    max-width: unset;
    width: 330px;
    margin-left: unset;
    margin: auto;
  }
  .hero-right picture img {
    width: 330px;
  }
}
@media screen and (max-width: 530px) {
  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }
  .hero-left {
    margin-bottom: 20px;
  }
  .hero-right {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    padding: 32px 0px;
  }
  .hero h1 {
    padding-top: 0px;
  }
  .hero-right {
    width: 285px;
  }
  .hero-right picture img {
    width: 285px;
  }
}
@media screen and (max-width: 375px) {
  .hero-left .primary-button {
    font-size: 17px;
  }
  .hero-left span img {
    max-width: 113px !important;
  }
  .hero .primary-button {
    width: 100%;
    max-width: 100%;
  }
}
.hero-right-v2 {
  max-width: calc(50% + 160px);
}
@media (min-width: 992px) {
  .hero-right-v2 {
    margin-right: -30px;
  }
}
.hero-right-v2 picture img {
  max-width: unset;
}

.under-hero {
  background: #f4f5fb;
  padding: 34px 0px;
}

.checkmarks-holder {
  display: flex;
  justify-content: space-around;
}

.checkmark-box {
  display: flex;
  align-items: center;
  gap: 16px;
}
.checkmark-box p {
  color: #202122;
  font-family: "Inter Tight", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

@media screen and (max-width: 1260px) {
  .checkmarks-holder {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  .checkmark-box p {
    font-size: 16px;
  }
  .checkmark-box {
    gap: 8px;
  }
}
@media screen and (max-width: 768px) {
  .under-hero {
    padding: 20px 0px;
  }
  .checkmark-box {
    gap: 4px;
  }
  .checkmark-box svg {
    max-width: 13px;
    max-height: 13px;
    flex-shrink: 0;
  }
  .checkmark-box p {
    font-size: 12px;
  }
}
.made-for-service {
  padding-top: 20px;
  overflow: hidden;
  position: relative;
}
.made-for-service:before {
  width: 100px;
  top: 0;
  left: 0;
  bottom: 0;
  content: " ";
  z-index: 9;
  position: absolute;
  background: rgb(12, 53, 106);
  background: linear-gradient(90deg, rgb(12, 53, 106) 0%, rgba(0, 36, 255, 0) 100%);
}
.made-for-service:after {
  width: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  content: " ";
  position: absolute;
  background: rgb(45, 109, 191);
  background: linear-gradient(-90deg, rgb(45, 109, 191) 0%, rgba(0, 36, 255, 0) 100%);
}
.made-for-service .service-tag-slider {
  width: 200vw;
  margin-left: -100vw;
}

.servicetag {
  border-radius: 4px;
  border: 1px solid #3454da;
  background: #fff;
  display: inline-flex;
  min-height: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  color: #3454da;
  margin-left: 6px;
  margin-right: 6px;
}

@media screen and (max-width: 768px) {
  .made-for-service {
    padding-top: 8px;
  }
  .made-for-service .subtitle2 {
    font-size: 18px;
    line-height: 120%;
  }
  .servicetag {
    min-height: 22px;
    font-size: 9px;
    padding-left: 18px;
    padding-right: 18px;
    margin-left: 3px;
    margin-right: 3px;
  }
}
@media screen and (max-width: 450px) {
  .made-for-service {
    display: none;
  }
}
.start-ad {
  padding: 40px 0px;
  padding-bottom: 88px;
  font-family: "Inter Tight", sans-serif;
}
.start-ad .wrapper {
  text-align: center;
}
.start-ad .subtitle {
  color: #202122;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
  margin-bottom: 40px;
}
.start-ad h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
  max-width: 891px;
  margin: auto;
  margin-bottom: 20px;
}
.start-ad .btnplace {
  align-items: center;
  padding-top: 40px;
}

.ads-block {
  border-radius: 20px;
  background: #091a3f;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  padding: 42px 29px 21px 10px;
  max-width: 1133px;
  margin: auto;
}

.ad-left-content {
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.ad-left-content div {
  display: flex;
  align-items: center;
  gap: 19px;
}
.ad-left-content div svg {
  flex-shrink: 0;
}
.ad-left-content div p {
  max-width: 283px;
  color: #f7f7ff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.ad-left-content div p span {
  font-weight: 600;
}

.ads-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 17px;
}

.ads-table-holder {
  border-radius: 10px;
  border: 2px solid rgba(247, 247, 255, 0.5);
  padding: 14px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  max-width: 681px;
}

.ad-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 214px;
  width: calc(33% - 5px);
  min-height: 83px;
  position: relative;
  border-radius: 10px;
  border: 2px solid #f7f7ff;
  background: rgba(217, 217, 217, 0.4);
}

.ads-top .ad-box {
  min-height: 52px;
}

.popular-box {
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  width: 106px;
  height: 21px;
  border-radius: 20px;
  background: #ffd20a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #202122;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.most-popular {
  border: 2px solid #ffd20a;
}

.ad-title {
  color: #ffd20a;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ad-big {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.add-small {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.ads-footer {
  color: #f7f7ff;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
}

.ads-pricing {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.ads-top {
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-wrap: wrap;
}

.google-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 1024px) {
  .ad-left-content div p {
    font-size: 16px;
    line-height: 21.482px;
  }
}
@media screen and (max-width: 768px) {
  .start-ad {
    padding: 40px 0px;
  }
  .start-ad .primary-button {
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .start-ad h2 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .start-ad .subtitle {
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .ads-block {
    flex-direction: column;
    padding: 37px 12px;
    gap: 22px;
  }
  .ad-left-content {
    gap: 21px;
  }
  .ad-title {
    font-size: 18px;
    line-height: normal;
  }
  .ad-big {
    font-size: 18px;
    line-height: normal;
  }
  .add-small {
    font-size: 10px;
    line-height: normal;
  }
  .google-meta img {
    max-width: 31px;
  }
  .google-meta img:first-child {
    max-width: 23px;
  }
  .ad-box {
    min-height: 60px;
  }
  .ads-footer {
    font-size: 14px;
    line-height: 14.321px;
  }
  .ads-right {
    gap: 21px;
  }
}
@media screen and (max-width: 450px) {
  .ad-left-content div p {
    max-width: 241px;
  }
  .ad-left-content div svg {
    max-width: 29px;
  }
  .ads-table-holder {
    padding: 12px 6px;
    gap: 10px;
  }
  .ads-top {
    gap: 4px;
  }
  .ads-pricing {
    gap: 4px;
    justify-content: center;
  }
  .popular-box {
    width: 71px;
    height: 15px;
    font-size: 8px;
    line-height: 21.482px;
  }
  .google-meta {
    gap: 5px;
  }
}
@media screen and (max-width: 375px) {
  .ad-title {
    font-size: 16px;
  }
  .ad-big {
    font-size: 16px;
  }
  .add-small {
    font-size: 8px;
  }
  .start-ad h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .start-ad .subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .btnplace .primary-button {
    font-size: 20px;
  }
}
.ad-box-empty {
  min-height: unset;
  background: transparent;
  border: 0;
}
.ad-box-empty .primary-button {
  width: 100%;
  max-width: 100%;
  color: #202122;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 10px;
  min-height: unset;
}
.ad-box-empty .primary-button-white:hover {
  opacity: 0.7;
}
.ad-box-empty .primary-button-white {
  background-color: #fff;
}

@media (max-width: 500px) {
  .ad-box-empty {
    display: none;
  }
}
.how-it-works {
  padding: 80px 0px;
  padding-bottom: 43px;
}
.how-it-works .wrapper {
  max-width: 1146px;
}
.how-it-works .slick-slide img {
  display: block;
  max-height: 562px;
}
.how-it-works .btnplace {
  margin-top: 12px;
}
.how-it-works h2 {
  color: #202122;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
}
.how-it-works .subtitle {
  color: #202122;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
.how-it-works .slick-arrow {
  background: transparent;
  border: 0px;
  position: absolute;
  top: calc(50% + 20px);
  transform: translateY(-50%);
}
.how-it-works .pull-left {
  left: 0px;
  z-index: 2;
}
.how-it-works .pull-right {
  right: 0px;
  z-index: 2;
}
.how-it-works .how-marketing-holder {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 40px;
}
.how-it-works .slick-dots {
  display: flex;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: auto;
  gap: 78px;
  position: relative;
  margin-bottom: 40px;
}
.how-it-works .slick-dots::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #202122;
  top: 50%;
  transform: translateY(-50%);
  left: -62px;
}
.how-it-works .slick-dots::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #202122;
  top: 50%;
  transform: translateY(-50%);
  right: -62px;
}
.how-it-works .slick-dots li {
  position: relative;
}
.how-it-works .slick-dots li button {
  background: #8a8a8a;
  z-index: 2;
  width: 62px;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 0px;
  color: #000;
  font-family: Helvetica;
  font-size: 32.32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.4px;
  transition: all 0.25s ease-in;
}
.how-it-works .slick-dots li::before {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  background: #202122;
  top: 50%;
  transform: translateY(-50%);
  left: -78px;
  z-index: -1;
}
.how-it-works .slick-dots li:first-child::before {
  width: 62px;
  left: -62px;
}
.how-it-works .slick-dots li::after {
  content: "";
  position: absolute;
  width: 78px;
  height: 2px;
  background: #202122;
  top: 50%;
  transform: translateY(-50%);
  right: -78px;
  z-index: -1;
}
.how-it-works .slick-dots li:last-child::after {
  width: 62px;
  right: -62px;
}
.how-it-works .slick-dots .slick-active button {
  background: #ffd20a;
  transition: all 0.25s ease-in;
}
.how-it-works .slide-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  flex-direction: row-reverse;
}
.how-it-works .text-box {
  max-width: 293px;
}
.how-it-works .text-box p {
  padding-top: 27px;
  color: #202122;
  font-family: Helvetica;
  font-size: 28.28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32.32px;
}
.how-it-works .text-box p span {
  font-weight: 700;
}
.how-it-works .number {
  width: 62px;
  height: 62px;
  background: #ffd20a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-radius: 50%;
  font-family: Helvetica, sans-serif;
  font-size: 32.32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40.4px;
}

@media screen and (max-width: 1024px) {
  .how-it-works h2 {
    font-size: 48px;
  }
  .how-it-works .subtitle {
    font-size: 30px;
  }
  .how-it-works .slick-dots {
    gap: 38px;
  }
  .how-it-works .slick-dots li::before {
    width: 38px;
    left: -38px;
  }
  .how-it-works .slick-dots li::after {
    width: 38px;
    right: -38px;
  }
  .how-it-works .slick-dots li:first-child::before {
    width: 38px;
    left: -38px;
  }
  .how-it-works .slick-dots li:last-child::after {
    width: 38px;
    right: -38px;
  }
  .how-it-works .slick-dots::before {
    left: -38px;
  }
  .how-it-works .slick-dots::after {
    right: -38px;
  }
  .how-it-works .slide-box {
    gap: 20px;
    padding: 0px 60px;
  }
}
@media screen and (max-width: 768px) {
  .how-it-works {
    padding: 40px 0px;
  }
  .how-it-works h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
  }
  .how-it-works .subtitle {
    font-size: 24px;
    margin-top: 8px;
  }
  .how-it-works .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .how-it-works .how-marketing-holder {
    margin-top: 20px;
  }
  .how-it-works .slick-dots {
    gap: 15px;
    margin-bottom: 20px;
  }
  .how-it-works .slick-dots li button {
    width: 28px;
    height: 28px;
    color: #000;
    font-size: 14.545px;
    line-height: 18.181px;
  }
  .how-it-works .slide-box {
    flex-direction: column;
    gap: 16px;
    padding: 0px 40px;
  }
  .how-it-works .number {
    width: 38px;
    height: 38px;
    font-size: 19.655px;
    line-height: 24.569px;
    flex-shrink: 0;
  }
  .how-it-works .text-box {
    display: flex;
    gap: 16px;
    max-width: 260px;
  }
  .how-it-works .text-box p {
    padding-top: 0px;
    font-size: 17.198px;
    line-height: 19.655px;
  }
  .how-it-works .slick-arrow svg {
    width: 32px;
    height: 32px;
  }
  .how-it-works .slick-dots li:first-child::before {
    width: 18px;
    left: -18px;
  }
  .how-it-works .slick-dots li:last-child::after {
    width: 18px;
    right: -18px;
  }
  .how-it-works .slick-dots::before {
    left: -18px;
    width: 5px;
    height: 5px;
  }
  .how-it-works .slick-dots::after {
    right: -18px;
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width: 375px) {
  .how-it-works h2 {
    font-size: 31px;
  }
  .how-it-works .subtitle {
    font-size: 22px;
  }
  .how-it-works .number {
    width: 30px;
    height: 30px;
    font-size: 18px;
  }
  .how-it-works .text-box p {
    padding-top: 0px;
    font-size: 14.198px;
    line-height: 16.655px;
  }
  .how-it-works .text-box {
    gap: 8px;
  }
}
.voolt-does {
  padding: 80px 0px;
  background: #fff;
}
.voolt-does .wrapper {
  max-width: 1180px;
}
.voolt-does h2 {
  color: #202122;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  margin-bottom: 20px;
}
.voolt-does .subtitle {
  color: #202122;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 90% */
  max-width: 989px;
  margin: auto;
  margin-bottom: 40px;
}

.voolt-does-holder {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.does-right {
  max-width: 490px;
  width: 100%;
}

.does-boxes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.does-boxes .opened-box .question {
  color: #202122;
}
.does-boxes .opened-box .chevron {
  rotate: 180deg;
  transition: all 0.25s ease-in;
}

.does-item .image-box {
  display: none;
  position: absolute;
  left: 0px;
  top: 50%;
  right: calc(50% + 20px);
  transform: translateY(-50%);
}

.inside-box {
  display: flex;
  flex-direction: column;
  padding: 21px 30px;
  border-radius: 10px;
  background: #01315c;
  cursor: pointer;
  transition: all 0.25s ease-in;
}
.inside-box .question {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.inside-box .answer {
  display: none;
}
.inside-box .answer p {
  padding-top: 6px;
}
.inside-box .chevron {
  transition: all 0.25s ease-in;
}

.opened-box .inside-box {
  background: #fcc72c;
  transition: all 0.25s ease-in;
}

@media screen and (max-width: 1024px) {
  .voolt-does h2 {
    font-size: 48px;
  }
  .voolt-does .subtitle {
    font-size: 30px;
  }
  .does-right {
    flex-shrink: 1;
    flex-basis: 50%;
  }
}
@media screen and (max-width: 768px) {
  .voolt-does .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .voolt-does-holder {
    flex-direction: column;
    gap: 30px;
  }
  .voolt-does {
    padding: 40px 0px;
  }
  .voolt-does h2 {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .voolt-does .subtitle {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  .does-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .does-item .image-box {
    position: relative;
    top: unset;
    transform: unset;
    right: unset;
    left: unset;
  }
}
@media screen and (max-width: 425px) {
  .inside-box {
    padding: 12px 18px;
  }
  .inside-box .question {
    font-size: 12px;
    line-height: 15.699px;
  }
  .inside-box .answer {
    font-size: 12px;
    line-height: 15.699px;
  }
  .inside-box .chevron {
    max-width: 11px;
    max-height: 11px;
  }
}
@media screen and (max-width: 375px) {
  .voolt-does h2 {
    font-size: 33px;
  }
  .voolt-does .subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
.charged {
  padding: 75px 0px;
  background: var(--dark-blue-gradiente, linear-gradient(180deg, #041b2f 0%, #003360 100%));
}
.charged h2 {
  color: var(--Background---background, #fff);
  text-align: center;
  /* Title/Heading H1 */
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
  margin-bottom: 40px;
}

.gif-holder {
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}

.gif-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.gif-box img {
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
}

.gif-top {
  display: flex;
  gap: 8px;
}
.gif-top .number {
  width: 45px;
  height: 45px;
  background-color: #058beb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff;
  font-family: "Inter Tight", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  flex-shrink: 0;
}
.gif-top p {
  color: #fff;
  max-width: 267px;
}
.gif-top p span {
  font-weight: 700;
}

.gif-arrow {
  position: absolute;
  left: -22px;
  bottom: 44px;
}

.gif-step3 {
  bottom: 160px;
}

@media screen and (max-width: 1024px) {
  .charged h2 {
    font-size: 48px;
  }
  .gif-box {
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  .charged {
    padding: 40px 0px;
  }
  .charged h2 {
    font-size: 36px;
    line-height: normal;
  }
  .charged .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 425px) {
  .gif-holder {
    gap: 20px;
  }
  .gif-box img {
    max-width: 262px;
  }
}
.communicate-directly {
  padding: 232px 0px;
  position: relative;
  padding-bottom: 188px;
}

.directly-content {
  max-width: 651px;
  padding-left: 37px;
}
.directly-content h2 {
  color: #202122;
  /* Title/Heading H1 */
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
  max-width: 512px;
}
.directly-content p {
  color: #202122;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
  max-width: 443px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.directly-content .images {
  position: absolute;
  right: 106px;
  top: 50%;
  transform: translateY(-50%);
  max-width: calc(50% - 33px);
  max-height: 610px;
}
.directly-content .images img {
  max-height: 500px;
}

@media screen and (max-width: 1440px) {
  .directly-content {
    max-width: calc(50% - 88px);
    padding-left: 0px;
  }
}
@media screen and (max-width: 1024px) {
  .communicate-directly {
    padding: 40px 0px;
  }
  .directly-content {
    max-width: 100%;
    text-align: center;
  }
  .directly-content h2 {
    font-size: 46px;
    line-height: 48px;
  }
  .directly-content .text-xl {
    font-size: 30px;
    line-height: 34px;
    margin: auto;
    margin-bottom: 20px;
  }
  .directly-content .images {
    position: unset;
    right: unset;
    top: unset;
    transform: unset;
    max-width: 700px;
    margin: auto;
  }
  .directly-content .primary-button {
    margin: auto;
  }
}
@media screen and (max-width: 768px) {
  .directly-content h2 {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .directly-content .text-xl {
    font-size: 20px;
    line-height: 24px;
  }
  .directly-content .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
}
.track-leads {
  padding: 116px 0px;
  background: var(--dark-blue-gradiente, linear-gradient(180deg, #041b2f 0%, #003360 100%));
  position: relative;
  overflow: hidden;
}

.track-content {
  max-width: 688px;
  padding-left: 113px;
}
.track-content h2 {
  color: #f7f7ff;
  line-height: 64px;
  margin-bottom: 40px;
  max-width: 560px;
}
.track-content p {
  color: #f7f7ff;
  max-width: 574px;
  margin-bottom: 40px;
}
.track-content .images {
  position: absolute;
  bottom: -121px;
  right: calc(50% - 1153px);
  max-width: 1062px;
}

@media screen and (max-width: 1440px) {
  .track-content {
    padding-left: 0px;
    max-width: calc(50% - 20px);
  }
  .track-content .images {
    position: absolute;
    bottom: 50%;
    right: 0px;
    max-width: calc(50% - 20px);
    transform: translateY(50%);
  }
}
@media screen and (max-width: 1024px) {
  .track-leads {
    padding: 80px 0px;
  }
  .track-content h2 {
    font-size: 36px;
    line-height: 38px;
  }
  .track-content .text-xl {
    font-size: 20px;
    line-height: 24px;
  }
  .track-content .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
}
@media screen and (max-width: 768px) {
  .track-leads {
    padding: 40px 0px;
  }
  .track-content {
    max-width: 100%;
    text-align: center;
  }
  .track-content h2 {
    margin: auto;
    margin-bottom: 20px;
  }
  .track-content .text-xl {
    margin: auto;
    margin-bottom: 20px;
  }
  .track-content .primary-button {
    margin: auto;
  }
  .track-content .images {
    position: relative;
    bottom: unset;
    right: unset;
    max-width: 100%;
    transform: unset;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 375px) {
  .track-content h2 {
    font-size: 34px;
    line-height: 37px;
  }
}
.how-we-compare {
  background-color: #f4f5fb;
  padding-top: 80px;
  padding-bottom: 66px;
  text-align: center;
  min-height: 688px;
}
.how-we-compare h2 {
  color: #202122;
  text-align: center;
  /* Title/Heading H1 */
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
  max-width: 930px;
  margin: auto;
}
.how-we-compare h2 span {
  display: block;
}
.how-we-compare .table-header {
  color: #f7f7ff;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
.how-we-compare .black-header {
  color: #202122;
}
.how-we-compare .gold-letter {
  color: #ffd20a;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.how-we-compare .table-small-text {
  color: #fff;
  text-align: center;
  font-family: "Inter Tight", sans-serif;
  font-size: 10px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  display: block;
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.how-we-compare .invisible-border {
  border-bottom: 1px solid #041b2f;
}
.how-we-compare .table {
  margin: auto;
  margin-top: 70px;
}
.how-we-compare .comper-tags {
  display: inline-flex;
  padding: 7px 10px;
  border-radius: 8px;
  border: 2px solid #fcc72c;
  background: #fff;
  margin: auto;
  margin-top: 40px;
}
.how-we-compare .comper-tags a {
  color: #202122;
  font-family: "Inter Tight", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-transform: capitalize;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 346px;
  min-height: 50px;
}
.how-we-compare .comper-tags .activetab {
  background: #ffd20a;
  color: #202122;
  font-weight: 700;
  transition: all 0.2s ease-in;
}
.how-we-compare .btnplace {
  align-items: center;
  padding-top: 90px;
}
.how-we-compare .btnplace p {
  color: #000;
}

@media screen and (max-width: 1024px) {
  .how-we-compare h2 {
    font-size: 48px;
  }
  .how-we-compare .table-small-text {
    font-size: 7px;
    font-weight: 500;
    line-height: 11.943px;
  }
}
@media screen and (max-width: 768px) {
  .how-we-compare .comper-tags {
    width: 100%;
  }
  .how-we-compare h2 {
    font-size: 32px;
    line-height: 40px;
  }
  .how-we-compare h2 span {
    font-size: 24px;
  }
  .how-we-compare .comper-tags {
    margin-top: 33px;
  }
  .how-we-compare .comper-tags a {
    max-width: 100%;
    width: 100%;
    min-width: unset;
    font-size: 14px;
    min-height: 30px;
  }
  .how-we-compare .table-header {
    font-size: 11.943px;
    line-height: 11.943px;
  }
  .how-we-compare .btnplace {
    padding-top: 30px;
  }
  .how-we-compare .btnplace p {
    font-size: 14px;
  }
  .how-we-compare .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .how-we-compare .table {
    margin-top: 32px;
  }
  .how-we-compare {
    min-height: unset;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .how-we-compare .gold-letter {
    font-size: 12px;
  }
}
@media screen and (max-width: 425px) {
  .how-we-compare .table-small-text {
    font-size: 4.594px;
    line-height: 11.943px;
  }
  .table th .icon {
    max-width: 65px;
  }
  .how-we-compare .comper-tags a {
    font-size: 12px;
    min-height: 23px;
  }
  .how-we-compare .comper-tags {
    margin-top: 33px;
    padding: 4px;
  }
}
@media screen and (max-width: 375px) {
  .how-we-compare h2 {
    font-size: 28px;
    line-height: 34px;
  }
  .how-we-compare h2 span {
    font-size: 21px;
  }
}
@media screen and (max-width: 345px) {
  .how-we-compare .comper-tags {
    padding: 2px;
  }
  .how-we-compare .comper-tags a {
    font-size: 11px;
  }
}
.video-section {
  padding: 82px 0px;
}
.video-section h2 {
  color: #202122;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}
.video-section .video-container {
  position: relative;
  max-width: 1104px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
}
.video-section .video-container video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.video-section .thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  inset: 0px;
}
.video-section .thumbnail img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}
.video-section .play-button {
  position: absolute;
  width: 90px;
  height: 90px;
  background: url("../img/play-btn.webp") no-repeat center center;
  background-size: contain;
  cursor: pointer;
}
.video-section .btnplace {
  align-items: center;
  padding-top: 40px;
  gap: 13px;
}
.video-section .btnplace p {
  color: #000;
}

@media screen and (max-width: 1024px) {
  .video-section h2 {
    font-size: 48px;
  }
}
@media screen and (max-width: 768px) {
  .mobile-aspect::before {
    content: "";
    display: block;
    padding-top: 74.78%;
  }
  .mobile-aspect video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .video-section {
    padding: 20px 0px;
  }
  .video-section h2 {
    font-size: 36px;
    line-height: normal;
  }
  .video-section .btnplace p {
    font-size: 14px;
  }
  .video-section .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .video-section .play-button {
    width: 45px;
    height: 45px;
  }
}
@media screen and (max-width: 375px) {
  .video-section h2 {
    font-size: 32px;
  }
}
.testimonials {
  background: var(--dark-blue-gradiente, linear-gradient(180deg, #041b2f 0%, #003360 100%));
  padding: 80px 0px;
}
.testimonials h2 {
  color: #f7f7ff;
  line-height: normal;
  max-width: 990px;
  margin: auto;
  margin-bottom: 36px;
  text-align: center;
}
.testimonials .btnplace {
  align-items: center;
}
.testimonials .testimonial-holder {
  position: relative;
  max-width: 1072px;
  margin: auto;
}
.testimonials .testimonial-slider img {
  margin: auto;
}
.testimonials .slick-arrow {
  background: transparent;
  border: 0px;
  position: absolute;
  top: calc(50% - 54px);
}
.testimonials .pull-left {
  left: 0px;
  z-index: 2;
}
.testimonials .pull-right {
  right: 0px;
  z-index: 2;
}

@media screen and (max-width: 1024px) {
  .testimonials h2 {
    font-size: 48px;
  }
  .testimonial-slider {
    padding: 0px 50px;
  }
}
@media screen and (max-width: 768px) {
  .testimonials {
    padding: 40px 0px;
  }
  .testimonials h2 {
    font-size: 36px;
    line-height: normal;
  }
  .testimonials .btnplace p {
    font-size: 14px;
  }
  .testimonials .primary-button {
    font-size: 18px !important;
    max-width: 340px;
    min-height: 56px;
    border-radius: 7px;
  }
  .testimonials .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 425px) {
  .testimonials .slick-arrow svg {
    max-width: 23px;
    max-height: 23px;
  }
  .testimonials .testimonial-slider {
    padding: 0px 30px;
  }
  .testimonials .btnplace {
    padding-top: 20px;
  }
}
@media screen and (max-width: 375px) {
  .testimonials h2 {
    font-size: 32px;
  }
}
.faq-section .wrapper {
  padding-top: 72px;
  padding-bottom: 80px;
}
.faq-section .still-have-question {
  text-align: center;
  margin-top: 50px;
}
.faq-section h2 {
  text-align: center;
  margin: 0 0 48px;
  color: #202122;
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
}
.faq-section .questions {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.faq-section .questions .qa-item {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.15;
  padding: 15px;
  margin-bottom: 7px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .faq-section .questions .qa-item {
    padding: 15px 20px;
  }
}
.faq-section .questions .qa-item:last-of-type {
  margin-bottom: 0;
}
.faq-section .questions .qa-item.opened, .faq-section .questions .qa-item:hover {
  background-color: #f6f8f8;
}
.faq-section .questions .qa-item.opened .chevron {
  transform: rotate(180deg);
  transition: all 0.15s ease-in;
}
.faq-section .questions .qa-item .question {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin: 0;
  position: relative;
  color: #202122;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}
.faq-section .questions .qa-item .question .chevron {
  transition: all 0.15s ease-in;
  flex-shrink: 0;
}
.faq-section .questions .qa-item .answer {
  display: none;
  color: #585b5f;
  padding-top: 6px;
  max-width: 640px;
}
.faq-section .questions .qa-item .answer p {
  margin-bottom: 10px;
}
.faq-section .questions .qa-item .answer p span {
  font-weight: 600;
}
.faq-section .questions .qa-item .answer p:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .faq-section .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .faq-section h2 {
    margin-bottom: 36px;
  }
  .faq-section .questions .qa-item {
    padding: 18px 15px;
  }
  .faq-section .questions .qa-item .question {
    font-size: 16px;
  }
  .faq-section .questions .qa-item .question .chevron {
    min-width: 25px;
    margin-left: 10px;
  }
  .faq-section .questions .qa-item .answer {
    font-size: 14px;
  }
  .faq-section .still-have-question {
    font-size: 14px;
  }
}
footer {
  padding-top: 88px;
  padding-bottom: 80px;
}
footer .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
footer .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}
footer .links a {
  color: #202122;
  text-align: right;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-underline-offset: 3px;
}
footer .soc-m {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
footer .soc-m svg {
  max-width: 50px;
  max-height: 50px;
}
footer .soc-m a:hover svg {
  opacity: 0.7;
}
footer .devider {
  height: 16px;
  width: 1px;
  background: #202122;
}
footer .footer-text {
  color: #202122;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer-partners {
  display: flex;
  align-items: center;
  gap: 9px;
}

@media screen and (max-width: 768px) {
  .footer-partners {
    justify-content: center;
  }
  .footer-partners img {
    max-height: 90px;
    max-width: 155px;
  }
  .footer-text {
    font-size: 14px;
    text-align: center;
  }
  footer .soc-m {
    gap: 12px;
  }
  footer .soc-m a svg {
    max-width: 42px;
    max-height: 42px;
  }
  .footer-logo {
    max-width: 90px;
  }
  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  footer .wrapper {
    gap: 20px;
  }
}
.video-modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 24, 39, 0.75);
  padding: 15px;
}

.modal-content {
  position: relative;
  padding: 1rem;
  padding-top: 1.75rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 1000px;
}

.close-modal-btn {
  position: absolute;
  right: 0.25rem;
  color: #4b5563;
  top: -30px;
  background-color: transparent;
  background-image: none;
  text-transform: none;
  margin: 0;
  padding: 0;
  border-width: 0px;
}

.video-player {
  width: 100%;
  height: 80vh;
  max-height: 545px;
}

.opacity-0 {
  opacity: 0;
}

.invisible {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .modal-content {
    max-width: 480px;
  }
  .video-player {
    max-height: 250px;
  }
}
@media screen and (max-width: 480px) {
  .video-player {
    max-height: 200px;
  }
  .modal-content {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.one-line-testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
}
.one-line-testimonials p {
  color: #09090b;
  text-align: center;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
  letter-spacing: -0.09px;
  max-width: 800px;
  margin: auto;
}
.one-line-testimonials .avatar-place {
  display: flex;
  align-items: center;
  gap: 16px;
  justify-content: center;
  margin-top: 39px;
}
.one-line-testimonials .avatar-place .avatar {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.one-line-testimonials .avatar-place h3 {
  color: #09090b;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}
.one-line-testimonials .avatar-place p {
  color: #71717a;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
  margin-top: 7px;
}

.pt-v1 {
  padding-top: 20px;
}

@media (max-width: 772px) {
  .one-line-testimonials {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .one-line-testimonials p {
    font-size: 14px;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.07px;
  }
  .one-line-testimonials .avatar-place {
    margin-top: 32px;
  }
  .one-line-testimonials .avatar-place .avatar {
    width: 48px;
    height: 48px;
  }
  .one-line-testimonials .avatar-place h3 {
    line-height: 140%; /* 18.9px */
    letter-spacing: 0.135px;
    font-size: 13.5px;
  }
  .one-line-testimonials .avatar-place p {
    margin-top: 6px;
    line-height: 140%; /* 18.9px */
    letter-spacing: 0.135px;
    font-size: 13.5px;
  }
}
.campaigns {
  padding-top: 40px;
  padding-bottom: 60px;
}
.campaigns h2 {
  color: #202122;
  text-align: center;
  /* Title/Heading H1 */
  font-family: "Inter Tight";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  letter-spacing: 0.48px;
  max-width: 600px;
  margin: auto;
}

.campaign {
  display: flex;
  justify-content: space-between;
  max-width: 1112px;
  margin: auto;
  margin-top: 40px;
  align-items: center;
  gap: 20px;
}
.campaign .left {
  max-width: 560px;
  width: 100%;
}
.campaign .right {
  max-width: 379px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.campaign .right h3 {
  color: #000;
  font-family: "Inter Tight";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 29.7px */
  letter-spacing: -0.11px;
}
.campaign .right p {
  color: #000;
  /* Base XL/Regular */
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}
.campaign .box {
  padding: 50px 55px;
  border-radius: 20px;
  background: #b7dfff;
  display: flex;
  flex-direction: column;
}
.campaign .box .cont {
  padding: 5px 12px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.campaign .box .cont h4 {
  color: #000;
  font-family: "Inter Tight";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
}
.campaign .box .cont h3 {
  color: #000;
  font-family: "Inter Tight";
  font-size: 22px;
  font-weight: 600;
  line-height: 135%; /* 29.7px */
  letter-spacing: -0.11px;
}
.campaign .box .inside {
  border-radius: 10px;
  background: #fff;
  width: 100%;
  max-width: 450px;
  display: flex;
  align-items: stretch;
  flex-grow: 1; /* Ensures .inside grows to fill .box */
  height: 100%; /* Take full height */
}
.campaign .box .img-place {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
  flex: 1; /* Grow to fill height of .inside */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  background: #058beb;
  min-height: 100px;
}

.campaign.campaign-v2 {
  margin-top: 160px;
}
.campaign.campaign-v2 .box .img-place {
  background: #fcc82c;
}

.campaign.campaign-v3 {
  margin-top: 160px;
}
.campaign.campaign-v3 .box .img-place {
  background: #091a3f;
}

@media (max-width: 991px) {
  .campaign {
    gap: 10px;
  }
  .campaign .left {
    width: calc(50% + 20px);
  }
  .campaign .right {
    width: calc(50% - 30px);
  }
  .campaign.campaign-v2,
  .campaign.campaign-v3 {
    margin-top: 36px;
  }
}
@media (max-width: 772px) {
  .campaigns {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .campaigns h2 {
    font-size: 24px;
    line-height: 130%; /* 31.2px */
  }
  .campaign .box {
    padding: 18px 40px;
  }
  .campaign .box .cont h4 {
    font-size: 12px;
    line-height: 150%; /* 13.5px */
    letter-spacing: 0.09px;
  }
  .campaign .box .cont h3 {
    font-size: 16px;
    letter-spacing: -0.2px;
    line-height: 100%;
  }
  .campaign .box .img-place {
    min-height: 70px;
  }
  .campaign .right {
    padding-left: 18px;
    margin-top: 5px;
    padding-right: 18px;
  }
  .campaign .right h3 {
    font-size: 22px;
  }
  .campaign .right p {
    font-size: 18px;
  }
}
@media (max-width: 600px) {
  .campaign {
    flex-direction: column;
    gap: 25px;
    margin-top: 16px;
  }
  .campaign .left,
  .campaign .right {
    width: 100%;
  }
  .campaign .box .img-place {
    width: 57px;
    min-width: 57px;
  }
  .campaign .box .img-place svg {
    width: 22px;
  }
}
.add-preview {
  padding-top: 100px;
  padding-bottom: 26px;
}
.add-preview .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
  max-width: 1183px;
  margin: auto;
}
.add-preview .boxes .box {
  border-radius: 14.726px;
  min-height: 206.162px;
  width: calc(33.33% - 26.66px);
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 98px 27px 0px rgba(21, 13, 78, 0), 0px 62px 25px 0px rgba(21, 13, 78, 0.01), 0px 35px 21px 0px rgba(21, 13, 78, 0.05), 0px 16px 16px 0px rgba(21, 13, 78, 0.09), 0px 4px 9px 0px rgba(21, 13, 78, 0.1);
}

@media (max-width: 991px) {
  .add-preview .boxes .box {
    width: calc(50% - 20px);
    min-height: 140px;
  }
  .add-preview {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .add-preview .boxes .box {
    width: 100%;
  }
  .add-preview {
    padding-top: 40px;
  }
  .add-preview .boxes {
    gap: 15px;
  }
  .add-preview .boxes .box:nth-child(5),
  .add-preview .boxes .box:nth-child(6) {
    display: none;
  }
  .add-preview {
    padding-bottom: 33px;
  }
}
.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
}
.benefits .box {
  margin: auto;
  display: flex;
  flex-direction: column;
  max-width: 1282px;
  gap: 40px;
}
@media (min-width: 1024px) {
  .benefits .box {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.benefits .left {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 100%;
}
@media (min-width: 768px) {
  .benefits .left {
    max-width: calc(50% - 50px);
  }
}
.benefits .item {
  display: flex;
  gap: 12px;
}
.benefits .item svg {
  min-width: 32px;
}
.benefits .cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.benefits h3 {
  font-family: "Inter Tight";
  color: #09090b;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 135%; /* 29.7px */
  letter-spacing: -0.11px;
}
.benefits p {
  color: #71717a;
  font-family: "Inter Tight";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 25.2px */
  letter-spacing: 0.18px;
}

@media (max-width: 991px) {
  .benefits .left {
    max-width: 100%;
  }
  .down-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}/*# sourceMappingURL=main.css.map */