.add-preview {
  padding-top: 100px;
  padding-bottom: 26px;

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    max-width: 1183px;
    margin: auto;
    .box {
      border-radius: 14.726px;
      min-height: 206.162px;
      width: calc(33.33% - 26.66px);
      background: #fff;
      border-radius: 15px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 98px 27px 0px rgba(21, 13, 78, 0),
        0px 62px 25px 0px rgba(21, 13, 78, 0.01),
        0px 35px 21px 0px rgba(21, 13, 78, 0.05),
        0px 16px 16px 0px rgba(21, 13, 78, 0.09),
        0px 4px 9px 0px rgba(21, 13, 78, 0.1);
    }
  }
}

@media (max-width: 991px) {
  .add-preview .boxes .box {
    width: calc(50% - 20px);
    min-height: 140px;
  }
  .add-preview {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 600px) {
  .add-preview .boxes .box {
    width: 100%;
  }
}
