.communicate-directly {
  padding: 232px 0px;
  position: relative;
}
.directly-content {
  max-width: 651px;
  padding-left: 37px;

  h2 {
    color: #202122;

    /* Title/Heading H1 */
    font-family: "Inter Tight";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    letter-spacing: 0.48px;
    max-width: 512px;
  }
  p {
    color: #202122;
    font-family: "Inter Tight";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 25.2px */
    letter-spacing: 0.18px;
    max-width: 443px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .images {
    position: absolute;
    right: 106px;
    top: 50%;
    transform: translateY(-50%);
    max-width: calc(50% - 33px);
    max-height: 610px;
    img {
      height: 100%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .directly-content {
    max-width: calc(50% - 88px);
    padding-left: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .communicate-directly {
    padding: 40px 0px;
  }
  .directly-content {
    max-width: 100%;
    text-align: center;
    h2 {
      font-size: 46px;
      line-height: 48px;
    }
    .text-xl {
      font-size: 30px;
      line-height: 34px;
      margin: auto;
      margin-bottom: 20px;
    }
    .images {
      position: unset;
      right: unset;
      top: unset;
      transform: unset;
      max-width: 700px;
      margin: auto;
    }
    .primary-button {
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  .directly-content {
    h2 {
      font-size: 36px;
      line-height: 38px;
      margin-bottom: 20px;
    }
    .text-xl {
      font-size: 20px;
      line-height: 24px;
    }
    .primary-button {
      font-size: 18px !important;
      max-width: 340px;
      min-height: 56px;
      border-radius: 7px;
    }
  }
}
