.hero {
  min-height: 625px;
  padding: 58px 0px;
  background-color: #b7dfff;
  position: relative;
  overflow: hidden;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   z-index: 1;
  //   background-image: linear-gradient(90deg, #041b2f 50%, rgba(4, 27, 47, 0) 400%);
  // }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.hero-left {
  max-width: calc(50% - 5px);
  h1 {
    color: #091a3f;
    display: inline-block;
    max-width: 700px;
    padding-top: 10px;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 82px; /* 113.889% */
    letter-spacing: -1.44px;
    // div {
    //   display: flex;
    //   align-items: center;
    //   gap: 10px;
    // }
  }
  span:first-child {
    display: inline-flex;
    width: 100%;
    max-width: fit-content;
    align-items: center;
    vertical-align: bottom;
    img {
      flex-shrink: 0;
    }
  }
  .google-ads-span {
    font-weight: 400;
    img {
      max-width: 53px;
    }
  }
  .meta-span {
    font-family: $carmensans;
    font-weight: 700;
    img {
      max-width: 70px;
    }
  }
  .subtitle {
    color: #27272a;
    font-family: $genralsans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-top: 10px;
    margin-bottom: 38px;
  }
}
.btnplace {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  p {
    color: #71717a;
    font-family: $genralsans;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.buttons {
  display: flex;
  align-items: center;

  gap: 12px;
  p {
    text-align: center;
  }
  .primary-button {
    white-space: nowrap;
  }
}
.hero-right {
  max-width: calc(50% - 66px);
  width: 100%;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  picture {
    img {
      max-width: 500px;
      width: 100%;
    }
  }
}
@media screen and (max-width: 1250px) {
  .hero-left h1 {
    font-size: 60px;
    line-height: 70px;
  }
  .hero-left span img {
    max-width: 200px !important;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    min-height: unset;
  }

  .hero-left h1 {
    font-size: 33.387px;
    line-height: 43px;
    span {
      font-size: 33px;
    }
  }
  .hero-left span img {
    max-width: 100px !important;
  }
  .hero-left .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
    letter-spacing: -0.09px;
  }
  .hero-left {
    span:first-child {
      img {
        max-width: 130px;
      }
    }
    span {
      img {
        max-width: 155px;
      }
    }
    .primary-button {
      font-size: 19px;
      // max-width: 246px;
      border-radius: 7px;
    }
  }
  .hero-right {
    top: 0px;
    right: 0px;
    bottom: 0px;
    transform: unset;
    picture {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      img {
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .btnplace p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 0px;
    .primary-button {
      font-size: 18px !important;
    }
  }
  .hero-left h1 {
    font-size: 32px;
    line-height: 42px;
  }
  .content {
    flex-direction: column;
    .btnplace {
      align-items: center;
      gap: 12px;
    }
  }
  .hero-left {
    order: 1;
    max-width: 100%;
    margin-left: unset;
    margin-bottom: 30px;
    .subtitle {
      margin-bottom: 0px;
    }
  }
  .btnplace {
    order: 3;
  }
  .hero-right {
    position: relative;
    order: 2;
    max-width: unset;
    width: 330px;
    margin-left: unset;
    margin: auto;
    picture {
      img {
        // max-width: 290px;
        width: 330px;
      }
    }
  }
}
@media screen and (max-width: 530px) {
  .buttons {
    flex-direction: column;
    width: 100%;
    gap: 4px;
  }
  .hero-left {
    margin-bottom: 20px;
  }
  .hero-right {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 480px) {
  .hero {
    padding: 32px 0px;
    h1 {
      padding-top: 0px;
    }
  }
  .hero-right {
    width: 285px;
    picture {
      img {
        width: 285px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .hero-left .primary-button {
    font-size: 17px;
  }
  .hero-left span img {
    max-width: 113px !important;
  }
}
