.hero {
  min-height: 625px;
  padding: 58px 0px;
  background-color: #b7dfff;
  position: relative;
  overflow: hidden;
  // &::after {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   z-index: 1;
  //   background-image: linear-gradient(90deg, #041b2f 50%, rgba(4, 27, 47, 0) 400%);
  // }
}

.content {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.hero-left {
  max-width: calc(50% - 5px);
  margin-left: auto;
  h1 {
    color: #091a3f;
    display: inline-block;
    max-width: 700px;
    padding-top: 10px;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 82px; /* 113.889% */
    letter-spacing: -1.44px;
    div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }
  span {
    display: inline-flex;
    width: 100%;
    max-width: fit-content;
    align-items: center;
    vertical-align: bottom;
    img {
      flex-shrink: 0;
    }
  }
  .google-ads-span {
    font-weight: 400;
    img {
      max-width: 53px;
    }
  }
  .meta-span {
    font-family: $carmensans;
    font-weight: 700;
    img {
      max-width: 70px;
    }
  }
  .subtitle {
    color: #f7f7ff;
    font-family: $genralsans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    margin-bottom: 40px;
  }
}
.btnplace {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  p {
    color: #fff;
    font-family: $genralsans;
    font-size: 23px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  p {
    text-align: center;
  }
  .primary-button {
    max-width: 417px;
    width: 100%;
    padding: 0px 40px;
  }
}
.hero-right {
  max-width: calc(50% - 66px);
  margin-left: auto;
  picture {
    img {
      max-width: 590px;
    }
  }
}
@media screen and (max-width: 1250px) {
  .hero-left h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    min-height: unset;
  }
  .hero-left h1 {
    font-size: 33.387px;
    span {
      font-size: 33px;
    }
  }
  .hero-left .subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }
  .hero-left {
    span:first-child {
      img {
        max-width: 130px;
      }
    }
    span {
      img {
        max-width: 155px;
      }
    }
    .primary-button {
      font-size: 19px;
      // max-width: 246px;
      border-radius: 7px;
    }
  }
  .btnplace p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    padding: 40px 0px;
    .primary-button {
      font-size: 18px !important;
      max-width: 340px;
      min-height: 56px;
      border-radius: 7px;
      padding: 0px;
    }
  }
  .content {
    flex-direction: column;
    .btnplace {
      align-items: center;
      gap: 8px;
    }
  }
  .hero-left {
    max-width: 100%;
    margin-left: unset;
    margin-bottom: 30px;
    .subtitle {
      margin-bottom: 15px;
    }
  }
  .hero-right {
    max-width: unset;
    width: 280px;
    margin-left: unset;
    picture {
      img {
        // max-width: 290px;
        width: 280px;
      }
    }
  }
}
@media screen and (max-width: 375px) {
  .hero-left .primary-button {
    font-size: 17px;
  }
  .hero-left h1 {
    font-size: 25px;
  }
  .hero-left span img {
    max-width: 100px !important;
  }
}
