.testimonials {
  background: var(--dark-blue-gradiente, linear-gradient(180deg, #041b2f 0%, #003360 100%));
  padding: 80px 0px;
  h2 {
    color: #f7f7ff;
    line-height: normal;
    max-width: 990px;
    margin: auto;
    margin-bottom: 36px;
    text-align: center;
  }
  .btnplace {
    align-items: center;
  }
  .testimonial-holder {
    position: relative;
    max-width: 1072px;
    margin: auto;
  }
  .testimonial-slider {
    img {
      margin: auto;
    }
  }
  .slick-arrow {
    background: transparent;
    border: 0px;
    position: absolute;
    top: calc(50% - 54px);
  }
  .pull-left {
    left: 0px;
    z-index: 2;
  }
  .pull-right {
    right: 0px;
    z-index: 2;
  }
}

@media screen and (max-width: 1024px) {
  .testimonials h2 {
    font-size: 48px;
  }
  .testimonial-slider {
    padding: 0px 50px;
  }
}

@media screen and (max-width: 768px) {
  .testimonials {
    padding: 40px 0px;
    h2 {
      font-size: 36px;
      line-height: normal;
    }
    .btnplace p {
      font-size: 14px;
    }
    .primary-button {
      font-size: 18px !important;
      max-width: 340px;
      min-height: 56px;
      border-radius: 7px;
    }
  }
  .testimonials .slick-arrow {
    top: 50%;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 425px) {
  .testimonials {
    .slick-arrow {
      svg {
        max-width: 23px;
        max-height: 23px;
      }
    }

    .testimonial-slider {
      padding: 0px 30px;
    }
    .btnplace {
      padding-top: 20px;
    }
  }
}

@media screen and (max-width: 375px) {
  .testimonials h2 {
    font-size: 32px;
  }
}
