.primary-button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 340px;
  width: 100%;

  gap: 10px;

  border-radius: 10px;
  background: var(--color-yellow, #ffd20a);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in;

  color: #112c8d;

  font-family: $genralsans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  &:hover {
    background: color-mix(in srgb, var(--color-yellow), #000 50%);
    color: #fff;
    transition: all 0.25s ease-in;
  }
}
.primary-button--blue {
  background: #058beb;
  color: #f7f7ff;
  &:hover {
    background: color-mix(in srgb, #058beb, #000 50%);
    color: #fff;
  }
}
.primary-button--white {
  background: #fff;
  color: #09090b;
  border: 1px solid var(--Border---border, #e4e4e7);
  background: var(--Background---secondary, #fff);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  &:hover {
    opacity: 0.8;
    background: #fff;
    color: #09090b;
  }
}

//button-height
.b-h-46 {
  min-height: 46px;
}
.b-h-56 {
  min-height: 56px;
}
.b-h-66 {
  min-height: 66px;
}
.b-w-340 {
  max-width: 340px;
  width: 100%;
}
.b-w-417 {
  max-width: 417px;
}

.primary-button--with-unset {
  padding-left: 22px;
  padding-right: 22px;
  width: unset;
}

.align-button {
  align-items: center !important;
  padding-top: 40px;
}
