.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.justify-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
